nav {
    background-image: linear-gradient(to top, white 2%, black 20%, black 80%, white 98%);
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10vw;
    z-index: 100;
    user-select: none;
}
    nav a {
        font-size: 32px;
        font-weight: 900;
        list-style: none;
        margin: 2px 14px;
        padding: 5px;
    }

        nav a:hover {
            background: radial-gradient(ellipse at center, grey 0, transparent 85%);
        }

    nav .selected {
        margin: 0 12px;
        background: radial-gradient(ellipse at center, grey 0, transparent 85%);
        border: 2px dashed rgba(255,255,255,20);
        overflow: visible;
    }


.sticky {
    position: fixed;
    top: 0;
    width: 100%
}