#overview_table {
    table-layout: fixed;
}

    #overview_table a {
        display: block;
        text-decoration: none;
    }

    #overview_table td {
        width: 20px;
        max-width: 20px;
    }

        #overview_table td.won {
            background-color: green;
        }

        #overview_table td.lost {
            background-color: red;
        }


    #overview_table th:not(:first-child):not(:nth-child(2)) {
        width: 20px;
        max-width: 20px;
        transform: rotate(90deg) translateX(-110px);
    }

    #overview_table th {
        position: sticky;
        top: 62px;
        text-align: left;
        /*position: relative;*/
        transform: rotate(90deg);
        height: 250px;
        white-space: nowrap;
        width: 300px;
    }
