body {
    background: black;
    color: #ddd;
    font-family: Calibri;
    font-weight: normal !important;
}

table {
    border: 1px solid #222;
    border-collapse: collapse;
    background: #1a181e;
}

table,
tr,
td,
th {
    border: 1px solid #000;
    position: relative;
    padding: 3px;
}

th span {
    transform-origin: 0 50%;
    transform: rotate(-90deg);
    white-space: nowrap;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
}

td img {
    border-radius: 50%;
    width: 15px;
}

a {
    color: #ddd;
    text-decoration: none;
}

a:visited {
    color: #444;
}

td.result-w a {
    color: #53b3a0;
}

td.result-w {
    background-color: #002113;
}

td.result-l a {
    color: #f9502a;
}

td.result-l {
    background-color: #3D0003;
}

td.result-u a {
    color: #FFDA49;
}

td.result-u {
    background-color: #6B5800;
}

td.result-w a:visited {
    color: #2a574e;
}

td.result-l a:visited {
    color: #780000;
}

td {
    font-size: 8pt;
}