body {
    background: black;
    color: #ddd;
    font-family: Calibri;
    font-weight: normal !important;
    font-size: 12px;
}

table {
    border: 1px solid #222;
    border-collapse: collapse;
    background: #1a181e;
}

table, tr, td, th {
    border: 1px solid #000;
    position: relative;
    padding: 3px;
}

    th span {
        transform-origin: 0 50%;
        transform: rotate(-90deg);
        white-space: nowrap;
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
    }

    td img {
        border-radius: 50%;
        width: 15px;
    }