* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Barlow;*/ /*Impact;*/
    font-size: var(--tile-size);
    text-transform: uppercase;
    -webkit-text-fill-color: var(--white);
    font-weight: 800;
}

html, body {
    background-color: #1a181e;
    height: 100%;
    width: 100%;
}

:root {
    --red: #f9502a;
    /*--green: #53b3a0;*/
    --green: #00ABA8;
    --white: white;
    /*--white: #f2f2f2;*/
}

td img {
    width: var(--tile-size);
    height: var(--tile-size);
    position: absolute;
    transform: translateY(var(--negative-half-tile-size));
}

svg {
    width: var(--tile-size);
    height: var(--tile-size);
    position: absolute;
    transform: translateY(var(--negative-half-tile-size)) rotate(-90deg);
    transition: 0.35s stroke-dashoffset;
    transform-origin: 50% 50%;
}

    .border {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }

.quantity {
    position: absolute;
    transform: translateX(var(--tile-size));
    color: var(--white);
    font-size: var(--half-tile-size);
    z-index: 1;
}

.full_size {
    width: var(--min-size);
    height: var(--min-size);
}

#watch_table {
    position: absolute;
}

#grid_overlay {
    position: relative;
}

    #grid_overlay div {
        position: absolute;
        color: var(--white);
        /*background-color: blue;*/
        width: 42%;
        height: 20%;
        margin: 1%;
    }

.top-left {
    top: 0px;
    left: 0px;
    position: absolute;
}

.bottom-left {
    bottom: 0px;
    left: 0px;
    position: absolute;
}

.bottom-right {
    bottom: 0px;
    right: 0px;
    position: absolute;
}

.top-right {
    top: 0px;
    right: 0px;
    position: absolute;
}

    .top-right * {
        float: right;
    }

.red {
    color: var(--red);
    -webkit-text-fill-color: var(--red);
}

.green {
    color: var(--green);
    -webkit-text-fill-color: var(--green);
}

.right {
    right: 1%;
    text-align: right;
    position: absolute;
}

.top-fix {
    top: -1%;
    position: absolute;
}

.left {
    left: 1%;
    text-align: left;
    position: absolute;
}

.left-mask {
    clip-path: polygon(0% 0%, 100% 0%, 91% 100%, 0% 100%);
}

.right-mask {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 9% 100%);
}

.bar {
    width: 100%;
    height: var(--bar-size);
    transition-duration: .3s;
}

.p1-bar {
    width: var(--p1-health, 100%);
}

.p2-bar {
    width: var(--p2-health, 100%);
}

.smaller-text {
    font-size: var(--smaller-size);
}

.very-small-text {
    font-size: var(--very-small-size);
}

.algo-name, .match-id {
    top: 20%;
    position: absolute;
}

.cores {
    top: 46%;
    position: absolute;
}

.bits {
    top: 60%;
    position: absolute;
}

.bottom-1 {
    bottom: 1%;
    position: absolute;
}

.bottom-2 {
    bottom: 15%;
    position: absolute;
}

.bottom-3 {
    bottom: 29%;
    position: absolute;
}

.bottom-4 {
    bottom: 43%;
    position: absolute;
}

.bottom-5 {
    bottom: 57%;
    position: absolute;
}

.bottom-6 {
    bottom: 71%;
    position: absolute;
}

.bottom-7 {
    bottom: 85%;
    position: absolute;
}

.bottom-8 {
    bottom: 99%;
    position: absolute;
}

.left-indented {
    right: 60%;
    position: absolute;
}

.left-indented-deep {
    right: 44%;
    position: absolute;
}

.right-indented {
    left: 60%;
    position: absolute;
}

.playback-button {
    width: 100%;
    height: 80%;
}

.playback-section button {
    width: var(--tile-size);
    height: var(--tile-size);
    margin-left: var(--very-small-size);
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}

.black {
    color: black;
    -webkit-text-fill-color: black;
}

.damage-bar {
    stroke:#1a181e;
    stroke-opacity: 0.6;
    stroke-width: 29;
    fill: transparent;
    stroke-dasharray: 100.530964915, 100.530964915; 
    stroke-dashoffset: 0;
}


