* {
    padding: 0;
    margin: 0;
}

:root {
    /*--match-cell-size: calc(var(--min-size)) / 40);*/
}

html, body {
    background-color: #1a181e;
    height: 100%;
    width: 100%;
}

/*#watch_table {
    height: var(--match-table-size);
    width: var(--match-table-size);
}*/

td {
    width: var(--tile-size);
    height: var(--tile-size);
}

    td img {
        width: var(--tile-size);
        height: var(--tile-size);
        position: absolute;
        transform: translateY(var(--half-tile-size));
    }


.IULabel, .quantity {
    position: absolute;
    transform: translateX(26px) translateY(5px);
    color: white;
}
